# dependency on branch master18 of duckietown-visualodo
# -e git://github.com/duckietown/duckietown-visualodo.git@master18d#egg=duckietown-visualodo

# testing
comptests==1.4.27
coverage
coveralls
bumpversion
jupyter
nbconvert
twine