# dependency on branch master18 of duckietown-visualodo
# -e git://github.com/duckietown/duckietown-visualodo.git@master18d#egg=duckietown-visualodo

# testing
comptests==1.4.27
coverage
coveralls
bumpversion
jupyter
nbconvert
twine

# algorithms

opencv-python==3.4.3.18
numpy==1.15.4
scipy==1.0.1
matplotlib==2.2.2
